<nav>
  <div class="site-title">
    <a href="/about"><h1>I-G-K</h1></a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/blogs/create">Add New Blog</a></li>
  </ul>
</nav>